body {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	background-color: rgb(36, 0, 83);
	font-family: sans-serif;
}

h1 {
	font-size: 15rem;
}

.letter {
	transition: color 1000ms;
}
